In [ ]:
# Q1: Create a set of 5 fruits and print it
fruits = {"apple", "banana", "mango", "orange", "grapes"}
print("Original set of fruits:", fruits)

Original set of fruits: {'apple', 'mango', 'grapes', 'banana', 'orange'}

In [3]:
# Q2: Add one new fruit to your set
fruits={"apple", "banana", "mango", "orange", "grapes"}
fruits.add("pineapple")
print("After adding pineapple:", fruits)

After adding pineapple: {'pineapple', 'banana', 'mango', 'grapes', 'orange', 'apple'}

In [4]:
# Q3: Remove fruit using .remove()
# Note: If fruit not in set → ERROR
fruits.remove("banana")
print("After removing banana:", fruits)

After removing banana: {'pineapple', 'mango', 'grapes', 'orange', 'apple'}

In [5]:
# Q4: Remove fruit using .discard()
# Note: If fruit not in set → NO ERROR
fruits.discard("mango")
print("After discarding mango:", fruits)

After discarding mango: {'pineapple', 'grapes', 'orange', 'apple'}

In [6]:
# Q5: Remove an arbitrary item using .pop()
removed_item = fruits.pop()
print("Removed item:", removed_item)
print("Set after pop():", fruits)

Removed item: pineapple
Set after pop(): {'grapes', 'orange', 'apple'}

In [7]:
# Q6: Clear all items
fruits.clear()
print("After clear(), set is:", fruits)

After clear(), set is: set()

In [8]:
# Q7: Set operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("Union:", A.union(B))
print("Intersection:", A.intersection(B))
print("Difference A - B:", A.difference(B))
print("Difference B - A:", B.difference(A))
print("Symmetric Difference:", A.symmetric_difference(B))

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference A - B: {1, 2, 3}
Difference B - A: {8, 6, 7}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [10]:
# Q8: Subset and Superset
X = {1, 2}
Y = {1, 2, 3, 4}

print("Is X subset of Y?", X.issubset(Y))
print("Is Y superset of X?", Y.issuperset(X))

Is X subset of Y? True
Is Y superset of X? True

In [11]:
# Q9: Frozenset example (immutable set)
vowels = frozenset({"a", "e", "i", "o", "u"})
print("Frozenset of vowels:", vowels)

# Uncomment below line to see immutability error
# vowels.add("y")  # ❌ ERROR: frozenset has no attribute 'add'

Frozenset of vowels: frozenset({'e', 'u', 'i', 'a', 'o'})

In [12]:
# Q10: Membership test
vowels = {"a", "e", "i", "o", "u"}
user_char = input("Enter a single character: ")

if user_char in vowels:
    print(f"'{user_char}' is a vowel ✅")
else:
    print(f"'{user_char}' is not a vowel ❌")

Enter a single character: e
'e' is a vowel ✅