1: Create variables of types:string,integer,float,and boolean.Print their values and types?

In [ ]:
name="tehreem"
age=20
height=5.3
is_student=True
print(name,type(name))
print(age,type(age))
print(height,type(height))
print(is_student,type(is_student))

tehreem <class 'str'>
20 <class 'int'>
5.3 <class 'float'>
True <class 'bool'>

In [ ]:
a=0.13
b=0.12
c=0.55
average(a+b+c)/3
print(average)

NameError: name 'average' is not defined

2:Make a list of five fruit and print it?

In [ ]:
fruits="apple", "pear", "mango",  "orange", "grapes"
print(fruits)

('apple', 'pear', 'mango', 'orange', 'grapes')

3:Create a tuple of 3 favorite numbers and print?

In [ ]:
favorit_number=(11,22,33)
print(favorit_number)

(11, 22, 33)

4:Define a dictionary with keys:name, age, city-and  print all key-value pair?

In [ ]:
person={
    "name":"tehreem",
    "age":"20",
    "city":"gujranwala"
}
print(person)

{'name': 'tehreem', 'age': '20', 'city': 'gujranwala'}

5:Create a set of unique hobbies?

In [ ]:
fav_hobby=("reading","cooking","painting")
print(fav_hobby)

('reading', 'cooking', 'painting')

6:Make a list of 5 students name and print it?

In [ ]:
students=["hira","mirha","irha","anaya","alice"]
print(students)

['hira', 'mirha', 'irha', 'anaya', 'alice']

In [ ]:
stu_1="hira"
stu_2="mirha"
stu_3="irha"
stu_4="anaya"
stu_5="alice"
print(stu_1,stu_2,stu_3,stu_4,stu_5)

hira mirha irha anaya alice

7:Create a dictionary of 3 programming languages with their creators and print them?

In [ ]:
languages={
    "python":"Guido van rossum"
    "java" "james golisng"
    "c++" "bajarne stroustrup"
}
print(languages)

{'python': 'Guido van rossumjavajames golisngc++bajarne stroustrup'}

8:Store 3 float numbers and calculate their average?

In [ ]:
num1=1.1
num2=2.2
num3=3.3
average=(num1+num2+num3)
print("average is",average)

average is 6.6

9:Create a tuple of 4 cities?

In [ ]:
cities=(["karachi","lahore","gujranwala","multan"])
print("cities tuple",cities)

cities tuple ['karachi', 'lahore', 'gujranwala', 'multan']

Make a set of vowel in a string and print?

In [ ]:
word=("pakistan")
vowels=set([ch for ch in word if ch in 'aeiou'])
print("vowels",vowels)

vowels {'a', 'i'}