In [ ]:
a="Tehreem"
for character in a:
  print(character)

T
e
h
r
e
e
m

In [ ]:
name="Tehreem"
print(name[0:6])

Tehree

In [ ]:
num=20
result=num+10
print(result)

30

In [ ]:
str_list=["10","20","30",]
int_list=[int(item) for item in str_list]
print(int_list)

[10, 20, 30]

In [ ]:
msg="l am learning python"
if "python" in msg:
  print("python is in the string!")
else:
  print("python is not in the string.")

python is in the string!

In [ ]:
a="hello world"
print("Uppercase",  a.upper())
print("Lowercase", a.lower())
print("Titlecase", a.title())

Uppercase HELLO WORLD
Lowercase hello world
Titlecase Hello World

In [ ]:
a="122"
print(type(a))
b=int(a)
print(type(b))

<class 'str'>
<class 'int'>

In [ ]:

name="Tehreem"
age=20
if age >=18:
  print(name, "eligible hai")
else:
  print(age, "eligible nhi h")

Tehreem eligible hai

In [ ]:
name="Tehreem"
print(name.isupper())

False

In [ ]:
num_str="123.22"
num_float=float(num_str)
num_int=int(num_float)
print("string", num_str,type(num_str))
print("converted to float", num_float,type(num_float))
print("converted to float", num_int,type(num_int))

string 123.22 <class 'str'>
converted to float 123.22 <class 'float'>
converted to float 123 <class 'int'>