Create a list 5 favorite fruits and print each using a loop:

In [1]:
fruits=["Mango", "Apple", "Grapes", "Banana", "Orange"]
print("Favorite Fruits:")
for fruit in fruits:
    print(fruit)

Favorite Fruits:
Mango
Apple
Grapes
Banana
Orange

Create a tuple with three items: name, age, city:

In [3]:
person=("Tehreem", 20, "gujranwala")
print("\nTuple Data")
print("name", person[0])
print("Age", person[1])
print("City", person[2])

Tuple Data
name Tehreem
Age 20
City gujranwala

Make a dictionary with student name, class, and score. print keys and values:

In [10]:

student={"Name": "Ayesha", "Class":  "9th","Score" :  98}
print("\nDictionary Data:")
for key, value in student.items():
   print(key, ":", value)

Dictionary Data:
Name : Ayesha
Class : 9th
Score : 98

Update the list by adding and removing items:

In [21]:
fruits=["Apple", "banana", "Mango", "Grapes", "Orange"]
fruits.append("Pineapple")#adding new fruit
fruits.remove("Apple")#removing a fruit
print("\nUpdated fruits list", fruits)

Updated fruits list ['banana', 'Mango', 'Grapes', 'Orange', 'Pineapple']

Use a loop to count items in the list and print using len():

In [22]:
fruits=["Apple", "Mango", "Banana", "Grapes", "Orange"]
print("Fruits  List", fruits)
count=0
for item in fruits:
  count+=1
print("Numbers of fruits using loop:", count)
print("Numbers of fruits using len():", len(fruits))

Fruits  List ['Apple', 'Mango', 'Banana', 'Grapes', 'Orange']
Numbers of fruits using loop: 5
Numbers of fruits using len(): 5

Check if a value exists in a tuple using in keyword:

In [29]:
from ast import In
person=("Tehreem", 20, "Gujranwala")
print("Tuple", person)
if "Tehreem" in person:
  print("Tehreem is in the tuple")
else:
    print("Tehreem is not in the tuple")
if 20 in person:
  print("20 is in the tuple")
else:
  print("20 is not in the tuple")
if "Gujranwala" in person:
  print("Gujranwala is in the tuple")
else:
  print("Gujranwala is not in the tuple" )

Tuple ('Tehreem', 20, 'Gujranwala')
Tehreem is in the tuple
20 is in the tuple
Gujranwala is in the tuple