1:Create variables a=15 and b=4.Perform and print all arithmetic operations?

In [ ]:
a=15
b=4
print("Addition:",a+b)
print("Substraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)
print("Modlus:",a%b)
print("Exponent:",a**b)

Addition: 19
Substraction: 11
multiplication: 60
division: 3.75
Modlus: 3
Exponent: 50625

2:Use comparison operators to compare a and b and print results?

In [ ]:
a=12
b=10
print("a>b:",a>b)
print("a<b:",a<b)
print("a==b:",a==b)
print("a!=b:",a!=b)
print("a>=b:",a>=b)
print("a<=b:",a<=b)

a>b: True
a<b: False
a==b: False
a!=b: True
a>=b: True
a<=b: False

3:Create boolean variables x=True,y=False.Perform logical operations and print outcomes?

In [ ]:
x=True
y=False
print("x and y:",x and y)
print("x or y:",x or y)
print("not x:",not x)

x and y: False
x or y: True
not x: False

4:Use assignment operators (+=,-=,*=,etc.)on a variable and print updated values?

In [ ]:

num=10
num+=5
print("after +=:",num)
num-=3
print("after -=:",num)
num*=2
print("after *=:",num)

after +=: 15
after -=: 12
after *=: 24

5:Use is and is not opreators with two equal values?

In [ ]:
x=5
y=5
print("x is y:",x is y)
print("x is not y:",x is not y)

x is y: True
x is not y: False

6:Check the presence of words using in and not in operators in a string?

In [ ]:
sentence="python is easy to learn"
print("easy in sentence")
print("hard not in sentence")

easy in sentence
hard not in sentence

7:Import the keyword module and print all python keywords?

In [ ]:
#importing the keyword module
import keyword
#printing all python keywords
print("python keywords are:")
print(keyword.kwlist)
#printing the total number of keywords
print("Total number of keywords:",len(keyword.kwlist))

python keywords are:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords: 35

8:Declare variables name , age , height , and print their values with types?

In [ ]:
name="Tehreem"
age=20
Height=5.3
print("name:", name , (type))
print("age:", age , (type))
print("Height:" , Height , (type))

name: Tehreem <class 'type'>
age: 20 <class 'type'>
Height: 5.3 <class 'type'>

9:Write 5 valid and 3 invalid names (with comments)?

In [ ]:
2name="tehreem"
my-name="tehreem"
1class=python

SyntaxError: invalid decimal literal (ipython-input-27-1581840842.py, line 1)

10:Assign multiple values in one line and use type () and id () to inspect them?

In [ ]:
x=2
y=5
z="hello"
print(type(x) , id(x))
print(type(y) , id(y))
print(type(z) , id(z))

<class 'int'> 10757768
<class 'int'> 10757864
<class 'str'> 137603706198320