1:Write a program to check if nmbr is positive,negative or zero?

In [ ]:
num=float(input(10.3))
if num>0:
  print("positive number")
elif num<0:
  print("negative number")
else:
  print("zero")

10.310
positive number

2:Input a number and print whether it is even or odd?

In [ ]:
num=int(input(20))
if num % 2 ==0:
  print("even number")
else:
    print("odd number")

2010
even number

3:Ask age and print if person is eligible to vote?

In [ ]:

year=int(input(2005))
current_year=2025
age=current_year-year
if age>18:
  print('eligible to vote')
else:
  print('not eligible to vote')

2005 20
eligible to vote

4:Check if a number is divisible by 3 , 5, or both?

In [ ]:
num=int(input(15))
if num % 3 ==0 and num % 5 ==0:
  print('divisible by both 3 and 5')
elif num % 3 ==0:
    print('divisible by 3')
elif num % 5 ==0:
    print ('divisible by 5')
else:
    print('not divisible by 3 or 5')

15 2
not divisible by 3 or 5

5:Input marks and print grade using if , elif , else

In [ ]:
marks=float(input(99.9))
if marks>90:
  print('grade A')
elif marks>80:
    print('grade B')
elif marks>70:
      print('grade C')
elif marks>60:
        print('grade D')
else:
    print('grade E')

99.9 99
grade A

6:Print numbers from 1 to 10 using a loop

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

7:Print the multiplication table of 6

In [ ]:
for i in range(1,11):
   print(f"6 x {i} = {6 * i}")

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

8:Use a loop to print all even numbera between 1 and 20

In [ ]:
total=0
for i in range(1,21):
    total += i
    print("the sum of numbers from 1 to 20 is:",total)

the sum of numbers from 1 to 20 is: 1
the sum of numbers from 1 to 20 is: 3
the sum of numbers from 1 to 20 is: 6
the sum of numbers from 1 to 20 is: 10
the sum of numbers from 1 to 20 is: 15
the sum of numbers from 1 to 20 is: 21
the sum of numbers from 1 to 20 is: 28
the sum of numbers from 1 to 20 is: 36
the sum of numbers from 1 to 20 is: 45
the sum of numbers from 1 to 20 is: 55
the sum of numbers from 1 to 20 is: 66
the sum of numbers from 1 to 20 is: 78
the sum of numbers from 1 to 20 is: 91
the sum of numbers from 1 to 20 is: 105
the sum of numbers from 1 to 20 is: 120
the sum of numbers from 1 to 20 is: 136
the sum of numbers from 1 to 20 is: 153
the sum of numbers from 1 to 20 is: 171
the sum of numbers from 1 to 20 is: 190
the sum of numbers from 1 to 20 is: 210

9:Ask for a word and print each letter on a new line

In [ ]:
num=int(input(44))
factorial = 1
for i in range(1 , num + 1):
    factorial *= i
print(f"the factorial of {num} is {factorial}")

44 4
the factorial of 4 is 24

10:Count how many vowels are in the word education

In [ ]:
word="education"
vowels="a,e,i,o,u"
count=0
for letter in word:
  if letter in vowels:
    count += 1
print("numbers of vowels:" , count)

numbers of vowels: 5